@import "tailwindcss";
@import "tw-animate-css";

.canvas-frame {
  position: relative;
  overflow: hidden;
}
.canvas-inner-frame {
  border: 4px solid #ddd;
  background: #fff;
  display: inline-block;
}

/* Hide arrows in Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
